.megaChatBox {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 30vh;
  color: #FFF;
  transform: scale(0.8);
  opacity: 0;
  z-index: 1;
  transition: transform 2s cubic-bezier(0, 1, 0, 1), opacity 2s cubic-bezier(0, 1, 0, 1);
}
.megaChatBox.open {
  transform: none;
  opacity: 1;
  pointer-events: all;
}
.megaChatBox .inner {
  position: relative;
  margin: 15px;
  padding: 15px;
  border: 3px solid #FFF3;
  flex: 1;
}
.megaChatBox .row {
  display: flex;
  margin: 10px 0;
  align-items: baseline;
}
.megaChatBox .name {
  margin-right: 20px;
  font-family: 'WinchesterCaps';
  font-size: 30px;
}
.megaChatBox .level {
  font-family: 'WinchesterCaps';
  font-size: 22px;
}
.megaChatBox .text {
  font-family: 'PlazaRegular';
  font-size: 32px;
  letter-spacing: 2px;
}

/* */

.outer {
  background-image: linear-gradient(to bottom, #222, #000);
}

/* */

.megaChatBox .options {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: var(--width);
  font-family: 'PlazaRegular';
  font-size: 22px;
  z-index: 1;
  transform: none;
  opacity: 1;
  transition: transform 2s cubic-bezier(0, 1, 0, 1), opacity 2s cubic-bezier(0, 1, 0, 1);
}
.megaChatBox .options:not(.open) {
  transform: scale(0.8);
  opacity: 0;
}
.megaChatBox .options:not(.open),
.megaChatBox .options.selected
{
  pointer-events: none;
}

/* */

.megaChatBox .options .option {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
.megaChatBox .options .option.hovered {
  background-image: url('/images/ui/rainbow-line.svg');
  object-fit: fill;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  /* filter: brightness(1.5); */

  animation-duration: 0.5s;
}
.megaChatBox .options .option .border {
  pointer-events: none;
  visibility: hidden;
}
.megaChatBox .options:not(.selected) .option:hover .border,
.megaChatBox .options.selected .option.selected .border
{
  visibility: visible;
}
.megaChatBox .options .option .border {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  border: 2px solid #FFF;
}
.megaChatBox .options .option .value {
  padding: 10px;
  font-size: 22px;
  flex: 1;
}
.megaChatBox .options .option .arrow {
  display: flex;
  width: 18px;
  height: 18px;
  margin-right: 30px;
  object-fit: contain;
  
  animation-duration: 2s;
}
.megaChatBox .options .option:not(.hovered) .arrow,
.megaChatBox .options.selected .option .arrow
{
  visibility: hidden;
}

/* */

.megaChatBox .lightArrow {
  bottom: 10px;
  right: 40px;
  top: auto;
  left: auto;
  z-index: 1;
  cursor: pointer;
  pointer-events: all;
}

/* */

@keyframes blink_effect {
  0% {
    visibility: visible;
  }
  49% {
    visibility: visible;
  }
  51% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}
.megaChatBox .nextBlink {
  position: absolute;
  bottom: 0;
  right: 20px;
  padding: 30px;
  z-index: 1;
  cursor: pointer;
}
.megaChatBox .nextBlink:not(.visible) {
  display: none;
}
.megaChatBox .nextBlink .arrow {
  width: 25px;
  height: 25px;
  object-fit: contain;
  animation: 1.5s linear infinite blink_effect;
}

/* */

@keyframes hueRotate {
  0% {
    filter: brightness(1.7) hue-rotate(0deg);
  }
  25% {
    filter: brightness(1.7) hue-rotate(90deg);
  }
  50% {
    filter: brightness(1.7) hue-rotate(180deg);
  }
  75% {
    filter: brightness(1.7) hue-rotate(270deg);
  }
  100% {
    filter: brightness(1.7) hue-rotate(360deg);
  }
}

.megaChatBox .options .option.hovered,
.megaChatBox .options .option .arrow
{
  animation-name: hueRotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}