.toolbar {
  position: absolute;
  /* top: 100px; */
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  user-select: none;
  z-index: 1;
}

/* */

.labeledButton {
  display: flex;
  cursor: pointer;
}
.labeledButton .label {
  display: flex;
  padding-right: 30px;
  flex: 1;
  align-items: center;
  /* font-size: 14px; */
}

/* */

/* .row {
  display: flex;
} */
.doubleOption,
.singleOption {
  display: flex;
}

/* */

/* .row.big {
  position: absolute;
  z-index: 1;
}
.row.big .singleOption .section {
  border: 2px solid #00000022;
}
.row.big.bottomRight {
  top: 40px;
  left: 160px;
}
.row.big.topRight {
  top: 0;
  left: 160px;
}

.row.big.red .singleOption .section {
  background-color: #f44336;  
}
.row.big.red .singleOption .section:hover {
  background-color: #d32f2f;
}
.row.big.red .singleOption .section:active {
  background-color: #b71c1c;
}

.row.big.disabled {
  display: none;
}

.row.big .singleOption .section {
  width: 40px;
  height: 40px;
} */

/* */

.singleOption .section {
  position: relative;
  display: flex;
  /* width: 50px;
  height: 50px; */
  padding: 10px;
  font-size: 20px;
}
.labeledButton {
  /* margin-bottom: 5px; */
  color: #FFF;
  /* background-color: #111; */
  background-image: linear-gradient(to right, #333, #111);
  border: 2px solid #00000020;
  border-radius: 5px 0 0 5px;
}
.labeledButton:has(+ .labeledButton) {
  border-bottom-left-radius: 0;
}
.labeledButton + .labeledButton {
  /* border-top: 0; */
  border-top-left-radius: 0;
}
.labeledButton:hover,
.labeledButton.active
{
  background-image: linear-gradient(to right, #2196f3, #1976d2);
}
.labeledButton:active
{
  background-image: linear-gradient(to right, #1976d2, #0d47a1);
}
.labeledButton .img
{
  position: relative;
  /* width: inherit;
  height: inherit; */
  /* padding: 15px; */
  width: 24px;
  height: 24px;
  filter: invert(100%);
  object-fit: contain;
}

/* .singleOption .section {
  border-radius: 50%;
} */