.gen {
  color: #000;
  font-size: 30px;
}
.gen .tabs {
  display: flex;
  padding: 30px;
}
.gen .tabs .tab {
  color: #2196f3;
  font-size: 32px;
  cursor: pointer;
}
.gen .tabs .tab:hover {
  /* color: #1e88e5; */
  /* darker... */
  color: #1976d2;
  text-decoration: underline;
}
.gen .tabs .tab + .tab {
  margin-left: 20px;
}

.gen .tabs .tab.selected {
  font-weight: 600;
}

/* */

.gen .input {
  min-width: 800px;
  margin-right: 30px;
  padding: 10px;
  font-size: 24px;
}
.gen .button {
  display: inline-block;
  font-size: 30px;
  padding: 10px;
  border: 3px solid currentColor;
  cursor: pointer;
}
.gen .button:hover {
  color: #FFF;
  background-color: #000;
  border-color: #000;
}

/* */

.characterCreator {
  display: flex;
  align-items: center;
}
.characterCreator .arrow {
  position: relative;
  width: 105px;
  height: 105px;
  cursor: pointer;
}
.characterCreator .arrow:not(:hover) .img.light {
  visibility: visible;
}
.characterCreator .arrow:hover .img.dark {
  visibility: visible;
}
.characterCreator .arrow.left {
  transform: scaleX(-1);
}
.characterCreator .arrow.right {
}
.characterCreator .arrow .img {
  position: absolute;
  width: 105px;
  height: 105px;
  visibility: hidden;
}
.characterCreator .arrow .img.light {
}
.characterCreator .arrow .img.dark {
}
.characterCreator .canvasWrap {
  display: flex;
  flex-direction: column;
}

/* */

.gen a {
  position: relative;
  display: inline-flex;
  font-weight: bold;
  cursor: pointer;
  overflow: hidden;
}
.gen a:hover {
  color: #1976d2;
}
.gen input[type="file"] {
  position: absolute;
  top: -100px;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
  user-select: none;
}

/* */

.hidden {
  display: none;
}