@font-face {
  font-family: 'TTSC-Regular';
  src:  url('/fonts/TT Squares Condensed Regular.otf');
}
@font-face {
  font-family: 'TTSC-Bold';
  src:  url('/fonts/TT Squares Condensed Bold.otf');
}

@font-face {
  font-family: 'SF Movie Poster';
  src:  url('/fonts/SF Movie Poster.woff');
  font-weight: 400;
}
@font-face {
  font-family: 'SF Movie Poster';
  src:  url('/fonts/SF Movie Poster Bold.woff');
  font-weight: 600;
}

@font-face {
  font-family: 'Anime Ace';
  src:  url('/fonts/animeace2_reg.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Anime Ace';
  src:  url('/fonts/animeace2_bld.ttf');
  font-weight: 600;
}

/* @font-face {
  font-family: 'Russo One';
  src:  url('/fonts/RussoOne-Regular.ttf');
} */

/* @font-face {
  font-family: 'Plaza Regular';
  src:  url('/fonts/Plaza Regular.ttf');
} */

@font-face {
  font-family: 'WinchesterCaps';
  src:  url('/fonts/WinchesterCaps.ttf');
}

/* @font-face {
  font-family: 'Orbitron';
  src:  url('/fonts/Orbitron-Regular.ttf');
} */

/* @font-face {
  font-family: 'Fira Code';
  src:  url('/fonts/FiraCode-Regular.ttf');
} */

@font-face {
  font-family: 'JetBrains Mono';
  src:  url('/fonts/JetBrainsMono-Regular.ttf');
}

/* */

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    /* "SF Movie Poster", */
    /* "WinchesterCaps", */
    /* "Plaza Regular", */
    "TTSC-Regular",
    -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}