.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery .imageWrap {
  width: 300px;
  height: 300px;
  padding: 5px;
  border: 3px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  background-color: #EEE;
}
.gallery .imageWrap:hover {
  border-color: #000;
}

.gallery .imageWrap .image {
  width: 100%;
  height: 100%;
}

.gallery .imageWrap .image:not(.loaded) {
  visibility: hidden;
}