.mobGenerator {
  width: inherit;
  height: inherit;
}
.mobGenerator .input {
  min-width: 800px;
  margin-right: 15px;
  padding: 10px;
  font-size: 24px;
}
.mobGenerator .button {
  display: inline-block;
  font-size: 30px;
  padding: 10px;
  border: 3px solid currentColor;
  cursor: pointer;
}
.mobGenerator .button:hover {
  color: #FFF;
  background-color: #000;
  border-color: #000;
}
.mobGenerator .select {
  padding: 10px;
  margin-right: 15px;
  border: 3px solid currentColor;
  font: inherit;
}
.mobGenerator .select .option {
  
}