
.leftSection .actionsWrap {
    height: 34px;
    border-bottom: 2px solid #152934;
}
.leftSection .actionsWrap .actions {
    float: right;
}
.leftSection .actionsWrap .actions button {
    margin-left: 8px;
    border: 2px solid #000000;
    color: #000000;
    background-color: #eaf4ef;
    padding: 5px 12px;
    cursor: pointer;
    font-size: 10px;
    text-transform: uppercase;
    font-family: "TTSC-Bold";
}
.leftSection .actionsWrap .actions button.cancel {
    border: 1px solid #eaf4ef;
    color: #eaf4ef;
    background-color: #091319;
}
.leftSection .actionsWrap .tabs {
    float: left;
}
.leftSection .actionsWrap .tabs button {
    color: #88989e;
    padding: 9px 8px;
    font-size: 12px;
    text-transform: uppercase;
    background: none;
    border: 0;
    margin-right: 0;
    cursor: pointer;
}

.leftSection .actionsWrap .tabs button.active {
    color: #fdbf00;
    border-bottom: 2px solid #fdbf00;
}

.leftSection .actionsWrap::after {
    content: ' ';
    display: block;
    clear: both;
}
.rightSection {
    width: 100%;
    box-sizing: border-box;
    background-color: #091319;
    padding: 10px 16px;
    font-size: 12px;
    margin-bottom: 6px;
}
.rightSection * {
    font-size: 12px !important;
    line-height: 16px !important;
}
.rightSection p {
    margin: 0 !important;
    padding: 0;
}
.rightSection::after {
    content: " ";
    display: block;
    clear: both;
}
.rightSection .label {
    width: 34%;
    float: left;
    color: #687674;
    text-transform: capitalize;
}
.rightSection .value {
    float: left;
    width: 66%;
    box-sizing: border-box;
    padding-right: 8px;
}
.rightSection ul,
.rightSection li {
    display: block;
    padding: 0;
    margin: 0;
}
.rightSection li {
    margin-bottom: 6px;
}
.rightSection li:last-child {
    margin-bottom: 0;
}
.actionsBox {
    position: absolute;
    top: 0px;
    right: 10px;
    opacity: 0;
}
.leftSection:hover .actionsBox {
    opacity: 1; 
} 
.rightSection .actionsBox {
    top: 14px;
    right: 6px;
}
.actionsBox .action {
    display: inline-block;
    margin-left: 12px;
    opacity: 0.4;
    cursor: pointer;
}
.actionsBox .action img {
    height: 14px;
}
.actionsBox .action:hover {
    opacity: 0.8;
}
.editPreviewWrap {
    margin-top: 12px;
}
.sectionTextarea {
    width: 100%;
    height: 120px;
    background: #FFFFFF;
    color: black;
    outline: none;
    resize: vertical;
    min-height: 120px;
    padding: 8px;
}
