@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loaderWrap {
    position: relative;
    height: 60px;
    width: 60px;
    opacity: 0.7;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    z-index: 1;
}

.loaderWrap .loaderIcon {
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    height: 100%;
    transform: none;
    position: relative !important;
}

.loaderWrap .percentage {
    font-size: 10px;
    display: inline-block;
    color: #FFFFFF;
    opacity: 0.7;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
}

.image {
    width: 100%;
}

.reroll {
    position: absolute;
    top: 12px;
    right: 12px;
    height: 18px;
    z-index: 10;
}
