.character-hups {
  position: absolute;
  /* top: 140px; */
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.character-hups > .character-hup canvas {
  width: 256px;
  height: 256px;
}
.character-hups > .character-hup {
  display: flex;
  /* position: absolute; */
  transform: translate3d(0, 0, 0);
  transition: transform 1s cubic-bezier(0, 1, 0, 1);
}
.character-hups > .character-hup:not(.open) {
  transform: translate3d(-100%, 0, 0);
}
.character-hups > .character-hup {
  --height: 256px;
  --color: #111;
  --color2: #222;
  height: var(--height);
  color: #FFF;
}
.character-hups > .character-hup .message {
  position: relative;
  display: flex;
  width: 500px;
  height: 100%;
  font-family: 'GeoSans';
  padding: 15px;
  padding-top: 50px;
  font-size: 20px;
  letter-spacing: 1px;
  white-space: pre-wrap;
  text-align: left;
  /* justify-content: flex-start;
  align-items: flex-start;
  float: left; */
}
.character-hups > .character-hup .name {
  position: absolute;
  display: flex;
  top: 0;
  left: var(--height);
  width: 500px;
  height: 40px;
  padding-left: 30px;
  /* font-family: 'Bangers';
  font-family: 'PlazaRegular'; */
  font-family: 'GeoSans';
  align-items: center;
  background-image: linear-gradient(to bottom, #222, #111);
}
.character-hups > .character-hup .name h1,
.character-hups > .character-hup .name h2,
.character-hups > .character-hup .name h3
{
  display: flex;
  margin: 0;
}
.character-hups > .character-hup .name > h1 {
  margin-right: 5px;
  font-size: 20px;
}
.character-hups > .character-hup .name > h2 {
  font-size: 13px;
  color: #FFFFFF80;
}
.character-hups > .character-hup .stats {
  display: flex;
  margin-left: auto;
  margin-right: 15px;
}
.character-hups > .character-hup .name .stat {
  display: flex;
  width: 80px;
  flex-direction: column;
  font-family: 'PlazaRegular';
  font-size: 13px;
}
.character-hups > .character-hup .name .stat + .stat {
  margin-left: 10px;
}
.character-hups > .character-hup .name .bar
{
  --width: 3px;
  position: absolute;
  bottom: 0;
  left: -15px;
  width: calc(100% + 15px);
  height: var(--width);
  background-color: var(--color2);
}
.character-hups > .character-hup .name .bar::before
{
  content: '';
  position: absolute;
  left: calc(var(--width) * -1);
  top: 0;
  border-style: solid;
  border-width: 10px;
  border-color: var(--color2) transparent transparent transparent;
}
.character-hups > .character-hup .message::after
{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color);
  z-index: -1;
}