.indicators {
  --indicators-width: 100px;

  position: fixed;
  bottom: calc(var(--canvas-height) + 15px);
  right: 0;
  display: flex;
  width: var(--indicators-width);
  flex-direction: column;
  transform: translateX(0);
  transition: transform 0.3s cubic-bezier(0, 1, 0, 1);
}
.indicators:not(.open) {
  transform: translateX(var(--indicators-width));
}

.row {
  display: flex;
}
.doubleOption,
.singleOption {
  display: flex;
}
.doubleOption .section,
.singleOption .section {
  position: relative;
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #111;
  cursor: pointer;
  transition: background-color 0.1s ease-out;
}
.doubleOption .section.enabled,
.doubleOption .section:hover,
.doubleOption .section.active,
.singleOption .section.enabled,
.singleOption .section:hover,
.singleOption .section.active {
  background-color: #2196f3;
}
.doubleOption .section:active,
.singleOption .section:active {
  background-color: #1976d2;
}
.doubleOption .section .img,
.singleOption .section .img {
  position: relative;
  width: inherit;
  height: inherit;
  padding: 5px;
  filter: invert(100%);
  object-fit: contain;
}

.singleOption .section {
  border-radius: 10px;
}

.doubleOption .section:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-right: 1px;
}
.doubleOption .section:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* // */

.indicatorsWrap {

  --indicators-size: 34px;
  --indicators-border-size: 2px;

  position: fixed;
  right: 17px;
  /* bottom: calc(var(--canvas-height) - var(--indicators-size)); */
  bottom: calc(var(--canvas-height) + 12px);
  height: var(--indicators-size);
  width: var(--indicators-size);
  z-index: 100;
}

.indicatorsWrap .indicator {
  height: var(--indicators-size);
  width: var(--indicators-size);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.indicatorsWrap .indicator .stroke {
  height: var(--indicators-size);
  width: var(--indicators-size);
  border-radius: 50%;
  border: var(--indicators-border-size) solid rgb(51, 233, 233);
  background-color: rgba(0,0,0,.4);
}

.indicatorsWrap .indicator .stroke.locked {
  border-top-right-radius: 0 !important;
}

.indicatorsWrap .indicator .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  height: 18px;
  width: auto;
}

.indicatorsWrap .indicator.standby .icon * {
  fill: #96C9D0 !important;
}
.indicatorsWrap .indicator.standby .stroke {
  border:var(--indicators-border-size) solid #96C9D0;
}

.indicatorsWrap .indicator.processing .icon * {
  fill: rgb(255, 204, 0);
}
.indicatorsWrap .indicator.processing .stroke {
  border:var(--indicators-border-size) solid rgb(255, 204, 0);
}

.indicatorsWrap .indicator.processing .stroke {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  background:transparent;
  border:2px solid transparent;
  border-radius:50%;
  text-align:center;
  line-height:150px;
  font-family:sans-serif;
  font-size:20px;
  color:rgb(255, 204, 0);
  letter-spacing:4px;
  text-transform:uppercase;
  text-shadow:0 0 10px rgb(255, 204, 0);
  box-shadow:0 0 20px rgba(0,0,0,.5);
}

.indicatorsWrap .indicator.processing .stroke:before {
  content:'';
  position:absolute;
  top:-2px;
  left:-2px;
  width:100%;
  height:100%;
  border:2px solid transparent;
  border-top:2px solid rgb(255, 204, 0);
  border-right:2px solid rgb(255, 204, 0);
  border-radius:50%;
  animation:animateC 1s linear infinite;
}

@keyframes animateC
{
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}
@keyframes animate
{
  0%
  {
    transform:rotate(45deg);
  }
  100%
  {
    transform:rotate(405deg);
  }
}

.indicatorsWrap .indicator.listening .icon * {
  fill: rgb(132, 0, 255);
}
.indicatorsWrap .indicator.listening .stroke {
  border:var(--indicators-border-size) solid rgb(132, 0, 255);
}

.indicatorsWrap .indicator:hover * {
  fill: #E06F6D !important;
}
.indicatorsWrap .indicator:hover .stroke {
  border:var(--indicators-border-size) solid #E06F6D !important;
}


.indicatorsWrap .indicator .close {
  display: none;
}
.indicatorsWrap .indicator:hover .icon {
  display: none;
}
.indicatorsWrap .indicator:hover .close {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  height: 18px;
  width: auto;
}


.dropDown {
  position: absolute;
  top: 0;
  right: 100%;
  width: 100px;
  height: 100px;
  background-color: #2196f3;
  display: none;
}

.dropDown.open {
  display: block;
}