@keyframes flash-right {
  from {
    transform: translateX(-320px);
    opacity: 0.3;
  }

  to {
    transform: none;
    opacity: 0;
  }
}

/*  */

.chat {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 300px;
  transform: none;
  overflow: hidden;
  /* z-index: 1; */
}

/*  */

.chat {
  transform: translateX(300px);
  filter: contrast(0.1) brightness(3);
  transition: all 0.2s cubic-bezier(0, 1, 0, 1);
}
.chat.open {
  filter: none;
  transform: none;
}

/*  */

.chat .inputs {
  position: fixed;
  bottom: 15px;
  right: 0;
  width: 300px;
  transform: none;
  overflow: hidden;
  z-index: 1;
}

.chat .inputs .input {
  width: 100%;
  padding: 15px;
  background-color: #000;
  border: 0;
  color: #FFF;
  font-family: monospace;
  outline: none;
}

.chat .inputs .background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  filter: invert(100%);
  pointer-events: none;
}

.chat.open .inputs .background {
  animation: flash-right 1s ease-out infinite;
}

/* .chat-messages .message-group {
  position: absolute;
  display: flex;
  height: 1000px;
  margin-top: calc(-1000px - 20px);
  flex-direction: column;
  justify-content: flex-end;
  pointer-events: none;
  user-select: none;
  z-index: 1;
}

.chat-messages .message-group .message {
  display: flex;
  width: 350px;
  padding: 15px;
  background-color: #000;
  color: #FFF;
  font-family: monospace;
  font-size: 20px;
  text-align: left;
}

.chat-messages .message-group .message:last-child::before {
  position: absolute;
  bottom: -20px;
  left: 0;
  border-width: 20px 20px 0 0;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
  content: '';
} */

/*  */

.triggerButtons {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 300px;
  min-height: 300px;
  /* background-color: red; */
}
.triggerButtons .layer {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}
.triggerButtons .layer:not(.open) {
  transform: translateX(300px);
}

/*  */

.triggerButtons .layer,
.triggerButtons .layer .button
{
  transition: all 0.3s cubic-bezier(0, 1, 0, 1);
}
.triggerButtons .layer .button {
  padding: 15px;
  font-family: 'WinchesterCaps';
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
}
.triggerButtons .layer .button {
  display: flex;
  background-color: #000;
  color: #FFF;
  cursor: pointer;
}
.triggerButtons .layer .button2 {
  display: flex;
  /* flex-direction: column; */
}
.triggerButtons .layer .button2 .label {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 13px;
  color: #CCC;
}
/* .triggerButtons .layer .button2 .name:empty::before,
.triggerButtons .layer .button2 .label:empty::before
{
  content: ' ';
} */
.triggerButtons .layer .button2 .name,
.triggerButtons .layer .button2 .label
{
  white-space: pre;
}
.triggerButtons .layer .button2 .name {
  min-width: 100px;
}
/* blink material blue keyframes */
@keyframes blink-blue {
  0% {
    background-color: #039be5;
    /* color: #000; */
  }
  49% {
    background-color: #039be5;
    /* color: #000; */
  }
  51% {
    background-color: #000;
    /* color: #FFF; */
  }
  100% {
    background-color: #000;
    /* color: #FFF; */
  }
}
.triggerButtons .layer .button.selected,
.triggerButtons .layer .button:hover
{
  animation: blink-blue 0.2s linear infinite;
}