.map {

}
.mapUserBox {
  position: fixed !important;
  right: 56px !important;
}
.logo {
  height: 60px;
  position: fixed;
  left: 40px;
  top: 22px;
  z-index: 10;
}
.map .canvas {
  width: 100vw !important;
  height: 100vh !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}