.storyboard {
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: #CCC;
  margin-left: auto;
}

/* */

.storyboard .panel {
  position: relative;
  width: 142px;
  height: 142px;
  margin: 3px;
  padding: 3px;
  background-color: #FFF;
  border: 3px solid transparent;
  overflow: hidden;
}
.storyboard .panel.selected {
  border-color: #2196f3;
}
.storyboard .panel .placeholder {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #FFF;
}

/* */

.storyboard .panel.busy .preview {
  opacity: 0.5;
}

/* */

.storyboard .panel .img {
  width: 100%;
  height: 100%;
  /* padding: 30px; */
}
.storyboard .panel .icon {
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
}

/* */

.storyboard .buttons {
  display: flex;
  padding: 3px;
}
.storyboard .button {
  position: relative;
  display: flex;
  font-size: 30px;
  padding: 10px;
  justify-content: center;
  border: 3px solid currentColor;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
}
.storyboard .button:hover {
  color: #FFF;
  background-color: #000;
  border-color: #000;
}
.storyboard .button + .button {
  margin-left: 10px;
}
.storyboard .button:hover .img {
  filter: invert(100%);
}
.storyboard .button .img {
  width: 20px;
  height: 20px;
}