.emoteWheel {
  --size: 500px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  transform: scale(0);
  transition: transform 0.3s cubic-bezier(0, 1, 0, 1);
}

/*  */

.emoteWheel.open {
  transform: scale(1);
}

/*  */

.emoteWheel .container {
  position: relative;
  width: var(--size);
  height: var(--size);
}

.emoteWheel .canvas {
  width: var(--size);
  height: var(--size);
}