.mouseDotContainer {
  position: absolute;
  top: calc(500px / 2);
  left: calc(500px / 2);
}
.mouseDot {
  position: absolute;
  width: 12px;
  height: 12px;
  top: -6px;
  left: -6px;
  /* background-color: #FFF; */
  background-color: #F44336;
  border: 2px solid #000;
}
/* .quickMenu {
  --size: 500px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}
.quickMenu .container {
  position: relative;
  width: var(--size);
  height: var(--size);
}
.quickMenu .canvas {
  width: var(--size);
  height: var(--size);
} */