.canvas {
  position: relative;
}
.canvas,
.dropTarget
{
  width: 100vw;
  height: 100vh;
}

.adventureApp {
  --ui-line-height: 30px;
}
.adventureApp .videoWrap {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  pointer-events: none;
  transition: all 2s cubic-bezier(0, 1, 0, 1);
}
.adventureApp .videoWrap:active {
  transform: scale(0.8);
}
.adventureApp .videoWrap.entered {
  transform: scale(1.3);
  opacity: 0;
  pointer-events: none;
}
.adventureApp .videoWrap .video {
  width: 700px;
  /* margin: auto; */
  object-fit: contain;
}

/*
make the caption glow
and also make it pulsate like a heart
*/
@keyframes glow {
  0% {
    filter: invert(0);
    transform: scale(1);
  }
  45% {
    filter: invert(1);
    transform: scale(1.1);
  }
  50% {
    filter: invert(1);
    transform: scale(1);
  }
  55% {
    filter: invert(1);
    transform: scale(1.1);
  }
  100% {
    filter: invert(0);
    transform: scale(1);
  }
}
.adventureApp .videoWrap .caption {
  position: relative;
  top: -70px;
  color: #FFF;
  font-family: 'Muli';
  font-size: 30px;
  animation: glow 1s infinite;
  transform-origin: center;
}

/* */

.cameraTargetUi {
  position: fixed;
  top: 0;
  right: 0;
}
.cameraTargetUi .name,
.cameraTargetUi .description
{
  color: #FFF;
}

/* */

.helperUi {
  display: flex;
  position: fixed;
  bottom: 15px;
  right: 15px;
  height: 100px;
  padding: 5px;
  align-items: center;
  color: #FFF;
  font-size: 10px;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #333, #111);
  user-select: none;
  transition: transform 0.5s cubic-bezier(0, 1, 0, 1);
  z-index: 1;
}
.helperUi.hidden {
  transform: translateY(calc(100px + 15px));
}
.helperUi .grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.helperUi .grid .row {
  display: flex;
}

.helperUi .image {
  width: 30px;
  height: 30px;
  filter: invert(1);
}

.helperUi .key {
  display: flex;
  margin: 0 2px;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.helperUi .key:hover .box {
  background-color: #FFF;
  color: #000;
}
.helperUi .key:active .box {
  opacity: 0.7;
}
.helperUi .box,
.helperUi .boxPlaceholder
{
  width: 30px;
  height: 30px;
  margin: 5px;
}
.helperUi .box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #FFF;
  border-radius: 5px;
}
.helperUi .name {
  display: flex;
  justify-content: center;
}
.helperUi .box.small {
  font-size: 8px;
}

.helperUi .wrap {
  display: flex;
  margin: 0 10px;
  cursor: pointer;
  opacity: 0.5;
}
.helperUi .wrap:hover:not(:active) {
  opacity: 1;
}

/* */

.header {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* padding: 10px 0; */
  /* padding-top: 10px; */
  max-height: 100vh;
  pointer-events: none;
  z-index: 2;
}

.header > .wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}
.header > .wrapSub {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px - 10px);
  overflow-x: hidden;
  overflow-y: auto;
}
.header > .wrapSub::-webkit-scrollbar {
  display: none;
}

.header .row {
  display: flex;
  /* justify to the right */
  margin-left: auto;
}
.header .spacer {
  flex: 1;
  height: 30px;
}

/* */

.button {
  position: relative;
  display: flex;
  padding: 6px 10px;
  margin: auto 0;
  margin-top: 20px;
  color: #FFF;
  background: transparent;
  border: 0;
  cursor: pointer;
  user-select: none;
  transition: transform 2s cubic-bezier(0, 1, 0, 1);
  pointer-events: all;
}
.button .background
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to bottom, #333, #111);
  transform: skewX(-22deg);
}
.button.reverse .img {
  transform: rotateZ(90deg);
}
.button .text {
  position: relative;
  font-family: 'Exo';
}
.button .img {
  width: 16px;
  height: 16px;
  transform: rotateZ(-90deg);
  filter: invert(1);
}
.button .imgMobile {
  width: 18px;
  height: 18px;
  margin: 3px 0px;
}
.button .background {
  border: 2px solid transparent;
}
.button .background {
  border-radius: 5px;
  transition: all 0.3s cubic-bezier(0, 1, 0, 1);
}
.button .imgMobile {
  width: 18px;
  height: 18px;
  margin: 3px 0px;
}
.button:hover .background {
  background-image: none;
  background-color: #2196F3;
  border-color: #FFFFFF40;
}
.button:active .background {
  background-color: #1976D2;
}
.button.disabled {
  color: #FFFFFF40;
  pointer-events: none;
}
.button.marginRight {
  margin-right: 10px;
}

/* */

.header .modeUi,
.header .locationUi,
.header .mapUi,
.header .loreUi,
.header .interactionUi
{
  margin-left: auto;
  margin-bottom: 10px;
  padding: 5px 10px;
  background-image: linear-gradient(to bottom, #333, #111);
  border-radius: 5px;
  pointer-events: all;
}
.header .coords {
  padding: 5px 10px;
  font-family: 'Exo';
  background-color: #111;
  color: #FFF;
}

.header .loginModal {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  height: 100vh;
  padding: 30px;
  background-image: linear-gradient(to bottom, #222, #111111);
  pointer-events: all;
  cursor: default;
  overflow-y: auto;
}

.header .wrap.hidden {
  display: none;
}

.header .wrap.slide {
  transform: translateX(100px);
  transition: transform 0.15s cubic-bezier(1, 0, 1, 0);
}
.header .wrap.slide.visible {
  transform: none;
  transition: transform 0.15s cubic-bezier(0, 1, 0, 1);
}

/* */

.userAccount {
  margin-top: 10px;
  z-index: 1;
}
.header .row .userAccount + .button {
  margin-left: 5px;
}
.userAccount .userAccount .mobile {
  margin-right: 50px;
}

/* */

.deployUi {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 10px;
  right: 15px;
  padding: 15px;
  background-image: linear-gradient(to bottom, #111, #333);
  border-radius: 5px;
  color: #FFF;
  font-family: 'Exo';
  z-index: 2;
}
.deployUi .textarea {
  width: 400px;
  height: 300px;
  /* outline: none; */
}
.deployUi .textarea:disabled {
  background-color: #FFF;
  resize: none;
  overflow: auto;
}

.deployUi .row {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}
.deployUi .label {
  margin-right: auto;
}
.deployUi .icon {
  display: flex;
  cursor: pointer;
}
.deployUi .icon:hover {
  opacity: 0.5;
}
.deployUi .icon:active {
  opacity: 0.5;
}
.deployUi .icon .img {
  width: 16px;
  height: 16px;
  filter: invert(1);
}

/* */

.interactionUi .key {
  display: flex;
  width: var(--ui-line-height);
  height: var(--ui-line-height);
  margin-right: 5px;
  padding: 3px;
  justify-content: center;
  align-items: center;
  background-color: #111;
  border: 2px solid #FFFFFF20;
  border-radius: 5px;
  color: #FFF;
  font-family: 'PlazaRegular';
  font-size: 16px;
}
.interactionUi .text {
  color: #FFF;
}
.interactionUi .label {
  margin-right: 10px;
}

.interactionUi .details {
  display: flex;
  width: 300px;
  flex-direction: column;
  font-family: 'Exo';
  color: #FFF;
}
.interactionUi .details .name {
  height: var(--ui-line-height);
  max-width: 300px;
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.interactionUi .details .description {
  opacity: 0.7;
  max-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* */

.backButton {
  /* margin-right: auto; */
  cursor: pointer;
}
.backButton .img {
  width: 24px;
  height: 24px;
}
.backButton:hover .img {
  opacity: 0.75;
}
.backButton:active .img {
  opacity: 0.5;
}

/* */

/* .sidebarTabsWrap {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
} */

.sidebarTabs,
.sidebarTabsPlaceholder
{
  padding: 5px 0;
}
.sidebarTabs {
  margin-top: 5px;
  --size: 200px;

  display: flex;
  flex-direction: column;
  width: var(--size);
  margin-left: auto;
  padding-left: 10px;
  user-select: none;
}
.sidebarTabs .sidebarTab {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px 10px;
  cursor: pointer;

  color: #FFF;
  font-family: 'PlazaRegular';
  font-size: 16px;
  letter-spacing: 1px;

  pointer-events: all;
}
.sidebarTabs .sidebarTab
{
  position: relative;
  right:-150px;
  transition: right 0.3s cubic-bezier(0, 1, 0, 1); /* Added transition */
}
.sidebarTabs .sidebarTab:hover
{
  position: relative;
  right:-75px;
  transition: right 0.3s cubic-bezier(0, 1, 0, 1); /* Added transition */
}
.sidebarTabs .sidebarTab.disabled {
  color: #FFF4;
  cursor: default;
}
.sidebarTabs .sidebarTab.disabled .icon {
  opacity: 0.25;
}
.sidebarTabs.visible .sidebarTab,
.sidebarTabs.visible .sidebarSelectorWrap
{
  transform: none;
}
/* .sidebarTabs.visible .sidebarTab:nth-child(1),
.sidebarTabs.visible .sidebarSelectorWrap:nth-child(1)
{
  transition-delay: 0;
}
.sidebarTabs.visible .sidebarTab:nth-child(2),
.sidebarTabs.visible .sidebarSelectorWrap:nth-child(2)
{
  transition-delay: 0.025s;
}
.sidebarTabs.visible .sidebarTab:nth-child(3),
.sidebarTabs.visible .sidebarSelectorWrap:nth-child(3)
{
  transition-delay: 0.05s;
}
.sidebarTabs.visible .sidebarTab:nth-child(4),
.sidebarTabs.visible .sidebarSelectorWrap:nth-child(4)
{
  transition-delay: 0.075s;
}
.sidebarTabs.visible .sidebarTab:nth-child(5),
.sidebarTabs.visible .sidebarSelectorWrap:nth-child(5)
{
  transition-delay: 0.1s;
}
.sidebarTabs.visible .sidebarTab:nth-child(6),
.sidebarTabs.visible .sidebarSelectorWrap:nth-child(6)
{
  transition-delay: 0.125s;
}
.sidebarTabs.visible .sidebarTab:nth-child(7),
.sidebarTabs.visible .sidebarSelectorWrap:nth-child(7)
{
  transition-delay: 0.15s;
}
.sidebarTabs.visible .sidebarTab:nth-child(8),
.sidebarTabs.visible .sidebarSelectorWrap:nth-child(8)
{
  transition-delay: 0.175s;
}
.sidebarTabs.visible .sidebarTab:nth-child(9),
.sidebarTabs.visible .sidebarSelectorWrap:nth-child(9)
{
  transition-delay: 0.2s;
}
.sidebarTabs.visible .sidebarTab:nth-child(10),
.sidebarTabs.visible .sidebarSelectorWrap:nth-child(10)
{
  transition-delay: 0.225s;
} */
.sidebarTabs .sidebarTab .background,
.sidebarSelectorWrap .background {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: -20px;
  background: linear-gradient(to right, #000, #222);
  border: 2px solid #FFFFFF08;
  transform: skewX(-22deg);
}
.sidebarTabs .sidebarTab:not(.disabled):hover .background,
.sidebarTabs .sidebarTab:not(.disabled).active .background
{
  background: #42A5F5;
  border: 2px solid #FFFFFF40;
}
.sidebarTabs .sidebarTab:not(.disabled):active .background,
.sidebarTabs .sidebarTab:not(.disabled).active .background
{
  background: #2196F3;
  border: 2px solid #FFFFFF40;
}
.sidebarTabs .sidebarTab .icon {
  position: relative;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  filter: invert(1);
}
.sidebarTabs .sidebarTab .label {
  position: relative;
}

.sidebarTabs .spacer {
  width: 100%;
  height: 12px;
  flex: auto;
  pointer-events: all;
}

.sidebarTabs .sidebarText {
  font-size: 24px;
  font-family: 'WinchesterCaps';
  color: #FFF;
  width: 80px;
  background-color: #444444;
  padding-right: 5px;
  margin-left: 20px;
  margin-top: 10px;
  line-height: 16px;
}
.sidebarSelectorWrap {
  width: 300px;
  position: relative;
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  pointer-events: all;
  right: -135px;
  transition: right 0.3s cubic-bezier(0, 1, 0, 1); /* Added transition */
}
.sidebarSelectorWrap:hover {
  right: 100px;
  transition: right 0.3s cubic-bezier(0, 1, 0, 1); /* Added transition */
}
.selectionWrapper {
  display: inline;

}
.sidebarSelectorWrap .iconWrapper .icon {
  position: relative;
  width: 24px;
  height: 24px;
  display: inline;
  margin: 5px;
  margin-left: 10px;
}
.sidebarTabs .selectionWrapper .sidebarSelector {
  width: 120px;
  height: 34px;
  margin-left: 10px;
  background: linear-gradient(to right, #000, #222);
  border: 2px solid #222;
  color: #FFF;
  font-family: 'PlazaRegular';
  font-size: 20px;
  outline: none;
  display: inline;
}
