.animeSubPlugin {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  justify-content: center;
  z-index: 1;
}

/* */

.animeSub {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}
.animeSub .text {
  position: absolute;
  width: 100%;
  padding: 5px;
  /* font-family: 'Anime Ace'; */
  font-family: 'Gothic A1';
  font-size: 30px;
  color: #f2f35f;
  text-shadow: 1px 3px 3px #000;
  text-align: center;
}

/* */

.ml12 {
  white-space: pre-wrap;
}

.ml12 .letter {
  /* display: inline-block; */
}