.crosshairUi {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  user-select: none;
}
.crosshairUi .wrap {
  width: 80px;
  height: 80px;
}
.crosshairUi .circle,
.crosshairUi .crosshair
{
  position: absolute;
  width: inherit;
  height: inherit;
  opacity: 0.5;
  /* filter: invert(1); */
  transform: scale(0);
  transition: all 2s cubic-bezier(0, 1, 0, 1);
}
.crosshairUi.firstperson .crosshair {
  transform: scale(0.5);
}
