.row {
  display: flex;
}
.spacer {
  flex: 1;
}
.label {
  display: flex;
}
.label .text {
  display: flex;
  height: 26px;
  /* margin: auto 0; */
  margin-right: 10px;
  margin-top: 0;
  font-family: 'PlazaRegular';
  font-size: 13px;
  align-items: center;
}
.label .select {
  margin: auto 0;
}

/* */

.buttons {
  display: flex;
}

.button {
  position: relative;
  display: flex;
  padding: 5px 10px;
  margin: auto 10px;
  color: #FFF;
  background: transparent;
  border: 0;
  cursor: pointer;
  user-select: none;
  transition: transform 2s cubic-bezier(0, 1, 0, 1);
  pointer-events: all;
}
.button + .button {
  margin-left: 10px;
}
.button .background
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to bottom, #333333ee, #111111ee);
  transform: skewX(-22deg);
}
.button.reverse .img {
  transform: rotateZ(90deg);
}
.button .text {
  position: relative;
  margin: 0;
  font-family: 'Exo' !important;
  letter-spacing: 0 !important;
  font-size: 13px !important;
}
.button .img {
  width: 16px;
  height: 16px;
  transform: rotateZ(-90deg);
  filter: invert(1);
}
.button .background {
  border: 2px solid transparent;
}
.button .background {
  border-radius: 5px;
  transition: all 0.3s cubic-bezier(0, 1, 0, 1);
}
.button:hover .background {
  background-image: none;
  background-color: #2196F3;
  border-color: #FFFFFF40;
}
.button:active .background {
  background-color: #1976D2;
}
.button.disabled {
  color: #FFFFFF40;
  pointer-events: none;
}
.button.marginRight {
  margin-right: 10px;
}

.modeUi,
.locationUi,
.mapUi .parcelUi,
.mapUi .titleDeedUi,
.mapUi .tooltipUi
{
  margin-left: auto;
  margin-bottom: 10px;
  padding: 5px 10px;
  background-image: linear-gradient(to bottom, #333, #111);
  border-radius: 5px;
  pointer-events: all;
}
.mapUi {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  flex: 1;
  overflow-y: hidden;
}
.coords {
  padding: 5px 10px;
  font-family: 'Exo';
  background-color: #111;
  color: #FFF;
}
.tooltip {
  display: flex;
  color: #FFFFFF60;
  justify-content: center;
}
.titleDeedUi {
  overflow-y: auto;
  /* flex: 1; */
}

.loginModal {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  height: 100vh;
  padding: 30px;
  background-image: linear-gradient(to bottom, #222, #111111);
  pointer-events: all;
  cursor: default;
  overflow-y: auto;
}

/* */

.deployUi {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 10px;
  right: 15px;
  padding: 15px;
  background-image: linear-gradient(to bottom, #111, #333);
  color: #FFF;
  font-family: 'Exo';
  z-index: 2;
}
.deployUi .textarea {
  width: 400px;
  height: 300px;
}
.deployUi .textarea:disabled {
  background-color: #FFF;
  resize: none;
  overflow: auto;
}

.deployUi .row {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}
.deployUi .label {
  margin-right: auto;
}
.deployUi .icon {
  display: flex;
  cursor: pointer;
}
.deployUi .icon:hover {
  opacity: 0.75;
}
.deployUi .icon:active {
  opacity: 0.5;
}
.deployUi .icon .img {
  width: 16px;
  height: 16px;
  filter: invert(1);
}

/* */

.inventoryUi {
  display: flex;
  position: fixed;
  /* top: 10px;
  bottom: 10px;
  right: 10px; */
  top: 0;
  bottom: 0;
  right: 0;
  width: 400px;
  padding: 10px;
  background-image: linear-gradient(to bottom, #111111ee, #333333ee);
  /* border: 2px solid #FFFFFF10; */
  /* border-radius: 10px; */
  color: #FFF;
  font-family: 'Exo';
  flex-direction: column;
  z-index: 2;
  pointer-events: all;
  flex: 1;
  /* blur the background */
  backdrop-filter: blur(5px);
}

/* handle landscape, width should be 100% */
@media (orientation: landscape) {
  .inventoryUi {
    width: 320px;
    /* take up the right half of the screen */
    right: 0;

  }
}

/* same with portrait, width should be 100% */
@media (orientation: portrait) {
  .inventoryUi {
    width: 100%;
    /* take up the bottom half of the screen */
    bottom: 0;
    height: 40vh;
    top: auto;
  }
}

.scrollWrap {
  /* inner scroll wrapper */
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
}

.inventoryUi .header {
  margin: 4px;
  text-align: center;
  width: 100%;
}

.inventoryUi .row {
  display: flex;
  align-items: center;
}
.inventoryUi .icon {
  margin-left: auto;
  cursor: pointer;
  user-select: none;
}
.inventoryUi .icon .img {
  width: 12px;
  height: 12px;
  filter: invert(1);
  opacity: 0.5;
}
.inventoryUi .icon:hover .img {
  opacity: 1;
}
.inventoryUi .h {
  position: relative;
  font-family: 'WinchesterCaps';
  font-size: 20px;
  color: #FFF;
  margin-bottom: 10px;
}
.inventoryUi .h::after {
  display: flex;
  width: 100%;
  margin: 10px 0;
  border-bottom: 1px solid #333;
  content: '';
}

/*  */

.inventoryUi .tabs {
  display: flex;
  /* margin-bottom: 10px; */
}
.inventoryUi .tabs .tab {
  display: flex;
  padding: 5px 10px;
  margin-right: 5px;
  border-bottom: 2px solid transparent;
  justify-content: center;
  color: #FFFFFF80;
  cursor: pointer;
  user-select: none;
  flex: 1;
}
.inventoryUi .tabs .tab:hover {
  color: #FFF;
}
.inventoryUi .tabs .tab.selected {
  color: #FFF;
  border-bottom: 2px solid #FFF;
}

/*  */

.inventoryUi .iconTabs {
  display: inline-flex;
  /* width: 80px;
  height: auto; */
  flex-wrap: wrap;
}
.inventoryUi .iconTabs .iconTab {
  display: flex;
  flex-direction: column;
  width: 80px;
  height: 80px;
  margin: 5px;
  padding: 8px;
  background-image: linear-gradient(to bottom, #333333ee, #111111ee);
  border: 1px solid #FFFFFF20;
  border-radius: 5px;
  cursor: pointer;
}
.inventoryUi .iconTabs .iconTab:hover {
  background-image: linear-gradient(to bottom, #111111ee, #000000ee);
}
.inventoryUi .iconTabs .iconTab .icon {
  display: flex;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 4px;
  justify-content: center;
  align-items: center;
  filter: invert(1);
}

.inventoryUi .iconTabs .text {
  font-size: 10px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

/*  */

.inventoryUi .placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  font-family: 'PlazaRegular';
  font-size: 20px;
  flex: 1;
}

.inventoryUi .item {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  user-select: none;
}
.inventoryUi .item:hover {
  background-color: #222;
  border-radius: 5px;
}
.inventoryUi .previewImg,
.inventoryUi .previewIcon
{
  display: flex;
  width: 64px;
  height: 64px;
  margin-right: 5px;
  border-radius: 5px;
  object-fit: contain;
}
.inventoryUi .previewImg.invert {
  filter: invert(1);
}
.inventoryUi .previewIcon {
  filter: invert(1);
}
.inventoryUi .chooseImg {
  display: flex;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border-radius: 5px;
}
.inventoryUi .placeholderImg {
  filter: invert(1);
}
.inventoryUi .name {
  flex: 1;
  /* padding: 0 5px; */
  /* max-width: 300px; */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.inventoryUi .category {
  max-width: 150px;
  padding: 0 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.inventoryUi .btn {
  display: flex;
  padding: 5px;
  margin-right: 5px;
  background-image: linear-gradient(to bottom, #222222ee, #111111ee);
  border: 1px solid #FFFFFF20;
  border-radius: 3px;
  cursor: pointer;
}
.inventoryUi .btn:hover {
  background-image: linear-gradient(to bottom, #222222ee, #111111ee);
}
.inventoryUi .btn:active {
  background-image: linear-gradient(to bottom, #222222ee, #111111ee);
}

.inventoryUi .btn .chevron {
  width: 12px;
  height: 12px;
  margin: auto 0;
  margin-left: 5px;
  filter: invert(1);
  transform: rotateZ(-90deg);
}

.inventoryUi .iconBtn {
  cursor: pointer;
}
.inventoryUi .iconBtn .img {
  width: 12px;
  height: 12px;
  margin-left: 5px;
  filter: invert(1);
}
.inventoryUi .iconBtn:hover .img {
  opacity: 0.75;
}
.inventoryUi .iconBtn:active .img {
  opacity: 0.5;
}

.inventoryUi .text .input {
  font-family: 'Exo';
  font-size: 13px;
  color: #000;
}

.inventoryUi .input {
  width: 100%;
  padding: 5px 10px;
  border: 0;
  border-bottom: 2px solid #CCC;
  background: transparent;
  font-family: 'Exo';
  font-size: 16px;
  outline: none;
}
.inventoryUi .input:hover {
  border-bottom-color: #FFF;
}

.inventoryUi .label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.inventoryUi .label .text {
  font-family: 'WinchesterCaps';
  font-size: 20px;
  letter-spacing: 1px;
}
.inventoryUi .label .select {
  color: #000;
}
.inventoryUi .textarea {
  width: 100%;
  height: 200px;
  color: #000;
}

.inventoryUi .row {
  margin-bottom: 10px;
}

.inventoryUi .middle {
  align-items: center;
}

/* */



/* */

.marketplaceUi {
  display: flex;
  flex-direction: column;
}

/* */

.titleDeeds {
  display: flex;
  flex-direction: column;
}
.titleDeeds .titleDeed {
  display: flex;
  color: #FFF;
}
.titleDeeds .titleDeed .name {

}
.titleDeeds .titleDeed .location {
  margin-left: 5px;
  color: #FFFFFF80;
  cursor: pointer;
  pointer-events: all;
  user-select: none;
}
.titleDeeds .titleDeed .location:hover {
  color: #FFF;
  text-decoration: underline;
}

/* */

.backButton {
  margin-right: auto;
  cursor: pointer;
}
.backButton .img {
  width: 24px;
  height: 24px;
  transform: rotateZ(90deg);
  filter: invert(1);
}
.backButton:hover .img {
  opacity: 0.75;
}
.backButton:active .img {
  opacity: 0.5;
}

/* */

.sceneEditor .backButton {
  margin-right: 0;
}
.sceneEditor .backButton .img {
  width: 24px;
  height: 24px;
  /* filter: invert(1); */
  transform: none;
  filter: none;
}

/* */

.sceneEditor {
  color: #FFF;
  pointer-events: all;
  overflow-y: auto;
  overflow-x: hidden;
}

.sceneEditor .objects {
  display: flex;
  flex-direction: column;
}
.sceneEditor .objects .objectsObject {
  display: flex;
  flex-direction: column;
  background: #111;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  font-family: 'PlazaRegular';
  font-size: 20px;
  letter-spacing: 1px;
  cursor: pointer;
}
.sceneEditor .objects .objectsObject + .objectsObject {
  margin-top: 0;
}
.sceneEditor .objects .objectsObject .type {
  display: inline-flex;
  margin-right: auto;
  padding: 5px;
  background-color: #222;
  border: 1px solid #FFFFFF20;
  border-radius: 5px;
  font-size: 10px;
  font-family: 'Exo';
  letter-spacing: 0;
  white-space: nowrap;
}
.sceneEditor .objects .objectsObject .name,
.sceneEditor .objects .objectsObject .description
{
  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sceneEditor .objects .objectsObject .name {
  font-size: 14px;
  line-height: 1.4;
}
.sceneEditor .objects .objectsObject .description {
  font-family: 'Exo';
  font-size: 12px;
  color: #FFFFFF80;
}
.sceneEditor .objects .objectsObject:hover {
  background: #2196F3;
}
.sceneEditor .objects .objectsObject:active {
  background: #1976D2;
}

.sceneEditor .selectedApp {
  display: flex;
  flex-direction: column;
  font-family: 'PlazaRegular';
  font-size: 20px;
  letter-spacing: 1px;
  margin-top: 0;
}
.sceneEditor .selectedApp .head {
  padding: 10px;
  border-radius: 5px;
  background-color: #111;
}
.sceneEditor .selectedApp .head .name,
.sceneEditor .selectedApp .head .description
{
  max-width: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sceneEditor .selectedApp .head .name {
  margin-bottom: 5px;
}
.sceneEditor .selectedApp .wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.sceneEditor .selectedApp .wrap .description {
  /* margin-left: 24px; */
  font-family: 'Exo';
  font-size: 13px;
}
.sceneEditor .selectedApp .wrap .row {
  align-items: center;
}
.sceneEditor .selectedApp hr {
  margin-bottom: 10px;
  visibility: hidden;
}

/*  */

.selectedApp label,
.createWearableUi label
{
  display: flex;
  flex-direction: row !important;
  width: 250px;
  height: var(--ui-line-height);
  margin-bottom: 5px !important;
  align-items: center;
}
.selectedApp label > span,
.createWearableUi label > span
{
  margin-right: auto;
  font-family: 'PlazaRegular';
  font-size: 13px;
  color: #FFF;
}
.selectedApp label > input,
.selectedApp label select,
.createWearableUi label > input,
.createWearableUi label select
{
  padding: 5px;
  background: #333;
  border: 0;
  border-radius: 3px;
  font-family: 'Exo';
  color: #FFF;
  outline: none;
}
.selectedApp label > input,
.createWearableUi label > input
{
  border-radius: 0;
}
.selectedApp label > input:hover,
.selectedApp label > input:active,
.selectedApp label > select:hover,
.selectedApp label > select:active,
.createWearableUi label > input:hover,
.createWearableUi label > input:active,
.createWearableUi label > select:hover,
.createWearableUi label > select:active
{
  background: #444;
}

.sceneEditor .subheader {
  display: flex;
  align-items: center;
  font-family: 'PlazaRegular';
  font-size: 16px;
  letter-spacing: 1px;
}
.sceneEditor .subheader .text {
  margin-right: auto;
}

.sceneEditor .inset {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  padding: 15px;
  background-image: linear-gradient(to bottom, #222222ee, #111111ee);
  /* border: 1px solid #FFFFFF08; */
  border-radius: 5px;
  /* box-shadow: inset 0 0 10px #000; */
  font-family: 'Exo';
  font-size: 13px;
  white-space: pre-wrap;
}
.sceneEditor .inset .anchor {
  color: #2196F3;
  cursor: pointer;
}
.sceneEditor .inset .anchor:hover {
  color: #1976D2;
  text-decoration: underline;
}

/* */

.transformControls {
  display: flex;
  flex-direction: column;
}
.transformControls .label {
  display: flex;
  margin-bottom: 5px;
}
.transformControls .label .text {
  width: 80px;
  margin-right: 5px;
}

/* */

.perceptionCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 10;
}
.hidden {
  display: none;
}

/* */

.pillTabs {
  display: flex;
}
.pill {
  display: inline-flex;
  padding: 5px 10px;
  margin-right: 5px;
  border: 1px solid #FFF2;
  border-radius: 3px;
  font-family: 'Exo';
  cursor: pointer;
}
.pill:hover {
  background-color: #333;
}
.pill.selected {
  /* color: #000; */
  /* background-color: #FFF; */
  background-color: #2196F3;
  cursor: default;
}

/* */

.storeUi {
  display: flex;
  flex-direction: column;
}
.storeUi .wrap {
  display: flex;
  width: 100%;
}
.storeUi .main {
  display: flex;
  max-width: 400px;
  flex-direction: column;
  flex: 1;
  margin-right: 15px;
}
.storeUi .side {
  width: 200px;
}
.storeUi .sidebar {
  width: 200px;
}

/* */

.storeUi .assetPreview {
  position: relative;
  display: flex;
  /* width: 100%; */
  width: 640px;
  height: 480px;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #111111ee, #222222ee);
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: 'Exo';
  font-size: 20px;
}
.storeUi .assetPreview:not(.loaded) .placeholder {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.storeUi .assetPreview:not(.loaded) .placeholder .inner {
}
.storeUi .assetPreview.loaded .placeholder
{
  display: none;
}
.storeUi .assetPreview:not(.loaded) .canvas
{
  visibility: hidden;
  pointer-events: none;
}
.storeUi .assetPreview .canvas {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #FFF;
}
.storeUi textarea {
  min-height: 100px;
  resize: vertical;
}

/* */

.jigsawInventoryUi {
  top: calc(50px + 10px * 2);
  /* left: 10px; */
  left: 0;
  /* width: calc(100vw - 10px * 2); */
  width: calc(100vw);
  height: calc(100vh - 50px - 10px * 2 - 10px - 100px);
  /* margin: 0 auto; */
  border: 0;
  border-radius: 0;
}

.jigsawInventoryUi {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.jigsawInventoryUi .wrap {
  overflow-y: scroll;
}
.jigsawInventoryUi .grid {
  display: flex;
  flex-direction: column;
}
.jigsawInventoryUi .grid .slot {
  position: relative;
  display: flex;
  width: 50px;
  height: 50px;
  padding: 5px;
  border: 2px solid #333;
}
.jigsawInventoryUi .grid .row {
  margin: 0;
}
.jigsawInventoryUi .grid .row:not(:first-child) .slot {
  margin-top: -2px;
}
.jigsawInventoryUi .grid .row .slot:not(:first-child) {
  margin-left: -2px;
}
.jigsawInventoryUi .grid .slot .background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: radial-gradient(#333, #111);
  opacity: 0.5;
}
.jigsawInventoryUi .grid .slot:hover {
  /* border-color: #FFFFFF40; */
  border-color: #666;
  z-index: 1;
}
.jigsawInventoryUi .grid .slot:hover .background {
  opacity: 1;
}

/* */

.memories {
  display: flex;
  flex-direction: column;
}
.memories .memory {
  display: flex;
  align-items: center;
}
.memories .memory .text {
  position: relative;
  font-family: 'Exo';
  font-size: 13px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
}

/* */

.sceneEditor .header .screenshot,
.sceneEditor .header .screenshotPlaceholder
{
  --size: 120px;
  width: var(--size);
  height: var(--size);
  border: 2px solid #FFF;
  object-fit: contain;
  cursor: pointer;
}
.sceneEditor .header {
  display: flex;
}
.sceneEditor .header .section {
  display: flex;
  flex-direction: column;
}

.sceneEditor .header .section input[type="text"],
.sceneEditor .header .section .text
{
  color: #000
}

.sceneEditor .header .section + .section {
  flex: 1;
}
.sceneEditor .header input[type="text"] {
  width: 100%;
}
.sceneEditor .header textarea {
  height: 100px;
  margin-bottom: auto;
}
.sceneEditor .header .location {
  margin-left: auto;
  padding: 5px;
  border-radius: 5px;
  background-color: #333;
}

/* */

.section {
  padding: 5px;
  margin: 2px;
  border-radius: 5px;
  background-color: #282828;
}
.section .sectionHeader {
  margin-bottom: 10px;
  font-size: 28px;
  /* font-family: 'PlazaRegular'; */
  font-family: 'Exo';
}
