.loginApp {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  background-image: linear-gradient(to bottom, #222, #000);
  color: #FFF;
  z-index: 1;
}

/* */

.loginApp .wrap {
  display: flex;
  width: 400px;
  margin: 0 auto;
  flex-direction: column;
}