.questUi {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  color: #FFF;
  align-items: flex-start;
  pointer-events: none;
  user-select: none;
}
.questUi .row {
  display: flex;
}
.questUi .label {
  position: relative;
  color: #FFFC;
  font-family: 'Exo';
  text-transform: uppercase;
}
.questUi .label,
.questUi .labelPlaceholder
{
  height: 36px;
}
.questUi .icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.questUi .icon img {
  width: 16px;
  height: 16px;
  filter: invert(1);
}
.questUi .name {
  position: relative;
  /* font-family: 'WinchesterCaps'; */
  font-family: 'PlazaRegular';
  font-size: 40px;
}
.questUi .description {
  position: relative;
  font-family: 'Exo';
  font-size: 20px;
}
.questUi .objective {
  position: relative;
  /* font-family: 'Inconsolata'; */
  /* font-family: 'TT Squates Condensed'; */
  font-family: 'GillSans';
  font-size: 13px;
}

.questUi .label,
.questUi .icon,
.questUi .name,
.questUi .description,
.questUi .objective
{ 
  padding: 10px;
  pointer-events: all;
}
.questUi .name,
.questUi .description
{
  margin: 10px 0;
}
.questUi .name {
  margin-top: 0;
}

.questUi .label .background,
.questUi .icon .background,
.questUi .name .background,
.questUi .description .background,
.questUi .objective .background
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100px;
  right: 0;
  background-image: linear-gradient(to right, #333, #111);
  transform: skewX(-22deg);
}
.questUi .icon .background {
  left: 0;
}
.questUi .label .background,
.questUi .icon .background
{
  background: #2228;
}
.questUi .icon:hover .background {
  background: #000;
}
.questUi .icon:active .background {
  background: #2196F3;
}
.questUi .icon.selected {
  transform: rotateZ(180deg);
}
.questUi .label .text,
.questUi .name .text,
.questUi .description .text,
.questUi .objective .text
{
  position: relative;
}

.questUi .objectives {
  display: flex;
  flex-direction: column;
}
.questUi .objectives .objective .text {
  align-items: center;
}
.questUi .objectives .objective .background {
  background-image: linear-gradient(to left, #222, #111);
}