.rainbow-container-wrap {
  position: fixed;
  bottom: 400px;
  /* bottom: 0; */
  right: 0;
  width: 300px;
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  filter: none;

  z-index: 1;
}

/* */

.rainbow-container-wrap .prefix {
  position: absolute;
  top: 100px;
  display: flex;
  /* height: 60px; */
  padding: 10px;
  border-radius: 3px;
  background-image: linear-gradient(to bottom, #111, #000);
  color: #FFF;
  flex-direction: column;
}
.rainbow-container-wrap .prefix::before {
  /* border trick for upper notch */
  position: absolute;
  top: -10px;
  /* left: calc(50% - 10px / 2); */
  left: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 0;
  border-color: transparent transparent #111 transparent;
  content: '';
}
.rainbow-container-wrap .prefix hr {
  width: 100%;
  height: 0;
  margin: 5px 0;
  border: 0;
  border-top: 1px solid #333;
}
.rainbow-container-wrap .prefix .dim {
  color: #888;
}
.rainbow-container-wrap .prefix b {
  color: #CCC;
  font-weight: 900;
}

/* */

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}
.rainbow-container-wrap:not(.spread) .toolbar
{
  display: none;
}

.rainbow-container-wrap-outer {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.rainbow-container {
  --size: 70px;

  transform-origin: center center;
  width: var(--size);
  height: var(--size);
  /* border: 1px solid rgba(255, 255, 255, 0.4); */
  animation: rainbow 3s infinite linear;
  border-radius: calc(var(--size) / 2);
  box-shadow: 0 0 calc(0.3 * var(--size)) calc(0.05 * var(--size)) #2c116e, inset calc(0.03 * var(--size)) 0 calc(0.1 * var(--size)) calc(0.02 * var(--size)) #de66e4;
  transform-style: preserve-3d;
  perspective: var(--size);
}
.rainbow-container-wrap-outer .rainbow-container-wrap-inner {
  transform-origin: center center;
  transition: all 3s cubic-bezier(0, 1, 0, 1);
}
.rainbow-container-wrap-outer:hover .rainbow-container-wrap-inner {
  filter: invert(1);
}
.rainbow-container-wrap-outer:hover.active .rainbow-container-wrap-inner {
  transform: scale(0.6);
}

@keyframes rainbow {
  0% {
    transform: rotate(0deg) translateZ(0);
    box-shadow: 0 0 calc(0.3 * var(--size)) calc(0.05 * var(--size)) #2c116e, inset calc(0.03 * var(--size)) 0 calc(0.1 * var(--size)) calc(0.02 * var(--size)) #de66e4;
  }
  25% {
    transform: rotate(90deg) translateZ(0);
    box-shadow: 0 0 calc(0.3 * var(--size)) calc(0.05 * var(--size)) #28126a, inset calc(0.03 * var(--size)) 0 calc(0.1 * var(--size)) calc(0.02 * var(--size)) #34ceaa;
  }
  50% {
    transform: rotate(180deg) translateZ(0);
    box-shadow: 0 0 calc(0.3 * var(--size)) calc(0.05 * var(--size)) #28126a, inset calc(0.03 * var(--size)) 0 calc(0.1 * var(--size)) calc(0.02 * var(--size)) #19b3f5;
  }
  75% {
    transform: rotate(270deg) translateZ(0);
    box-shadow: 0 0 calc(0.3 * var(--size)) calc(0.05 * var(--size)) #28126a, inset calc(0.03 * var(--size)) 0 calc(0.1 * var(--size)) calc(0.02 * var(--size)) #3d52ac;
  }
  100% {
    transform: rotate(360deg) translateZ(0);
    box-shadow: 0 0 calc(0.3 * var(--size)) calc(0.05 * var(--size)) #28126a, inset calc(0.03 * var(--size)) 0 calc(0.1 * var(--size)) calc(0.02 * var(--size)) #de66e4;
  }
}
.rainbow-container {
  position: relative;
}
.rainbow-container > div {
  position: absolute;
  top: calc(0.1 * var(--size));
  left: calc(0.1 * var(--size));
  width: calc(0.8 * var(--size));
  height: calc(0.8 * var(--size));
  border-radius: 50%;
}

.green {
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 60%, rgba(115, 213, 186, 0.8) 100%);
  transform: rotateY(0) skew(14deg) rotate3d(1.1, 1, 0.9, 0);
  animation: curve-rotate-green 6s infinite linear;
}

.pink {
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, rgba(215, 115, 229, 0.8) 100%);
  transform: rotateY(180deg) skew(14deg) rotate3d(1.1, 1, 0.9, 0);
  animation: curve-rotate-pink 3s infinite linear;
}

@-webkit-keyframes curve-rotate-green {
  0% {
    transform: rotateY(0) skew(14deg) rotate3d(1.1, 1, 0.9, 0deg);
  }
  50% {
    transform: rotateY(0) skew(14deg) rotate3d(1.1, 1, 0.9, 180deg);
  }
  100% {
    transform: rotateY(0) skew(14deg) rotate3d(1.1, 1, 0.9, 360deg);
  }
}
@-moz-keyframes curve-rotate-green {
  0% {
    transform: rotateY(0) skew(14deg) rotate3d(1.1, 1, 0.9, 0deg);
  }
  50% {
    transform: rotateY(0) skew(14deg) rotate3d(1.1, 1, 0.9, 180deg);
  }
  100% {
    transform: rotateY(0) skew(14deg) rotate3d(1.1, 1, 0.9, 360deg);
  }
}
@-o-keyframes curve-rotate-green {
  0% {
    transform: rotateY(0) skew(14deg) rotate3d(1.1, 1, 0.9, 0deg);
  }
  50% {
    transform: rotateY(0) skew(14deg) rotate3d(1.1, 1, 0.9, 180deg);
  }
  100% {
    transform: rotateY(0) skew(14deg) rotate3d(1.1, 1, 0.9, 360deg);
  }
}
@keyframes curve-rotate-green {
  0% {
    transform: rotateY(0) skew(14deg) rotate3d(1.1, 1, 0.9, 0deg);
  }
  50% {
    transform: rotateY(0) skew(14deg) rotate3d(1.1, 1, 0.9, 180deg);
  }
  100% {
    transform: rotateY(0) skew(14deg) rotate3d(1.1, 1, 0.9, 360deg);
  }
}
@-webkit-keyframes curve-rotate-pink {
  0% {
    transform: rotateY(180deg) skew(14deg) rotate3d(1.1, 1, 0.9, 0deg);
  }
  50% {
    transform: rotateY(180deg) skew(14deg) rotate3d(1.1, 1, 0.9, 180deg);
  }
  100% {
    transform: rotateY(180deg) skew(14deg) rotate3d(1.1, 1, 0.9, 360deg);
  }
}
@-moz-keyframes curve-rotate-pink {
  0% {
    transform: rotateY(180deg) skew(14deg) rotate3d(1.1, 1, 0.9, 0deg);
  }
  50% {
    transform: rotateY(180deg) skew(14deg) rotate3d(1.1, 1, 0.9, 180deg);
  }
  100% {
    transform: rotateY(180deg) skew(14deg) rotate3d(1.1, 1, 0.9, 360deg);
  }
}
@-o-keyframes curve-rotate-pink {
  0% {
    transform: rotateY(180deg) skew(14deg) rotate3d(1.1, 1, 0.9, 0deg);
  }
  50% {
    transform: rotateY(180deg) skew(14deg) rotate3d(1.1, 1, 0.9, 180deg);
  }
  100% {
    transform: rotateY(180deg) skew(14deg) rotate3d(1.1, 1, 0.9, 360deg);
  }
}
@keyframes curve-rotate-pink {
  0% {
    transform: rotateY(180deg) skew(14deg) rotate3d(1.1, 1, 0.9, 0deg);
  }
  50% {
    transform: rotateY(180deg) skew(14deg) rotate3d(1.1, 1, 0.9, 180deg);
  }
  100% {
    transform: rotateY(180deg) skew(14deg) rotate3d(1.1, 1, 0.9, 360deg);
  }
}

/* */

.button.big {
  position: absolute;
  cursor: pointer;
  z-index: 1;
}
.button.big .singleOption .section {
  border: 2px solid #00000022;
}
.button.big.topRight {
  top: 16px;
  left: 160px;
}
.button.big.bottomRight {
  top: 50px;
  left: 160px;
}

.button.big {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 50px;
  left: 160px;
  background-image: linear-gradient(to bottom, #333, #111);
  border: 2px solid #00000022;
  border-radius: 50%;
}
.button.big:hover {
  background-image: linear-gradient(to bottom, #2196f3, #1976d2);
}
.button.big:active {
  background-image: linear-gradient(to bottom, #0d47a1, #1565c0);
}

.button.big.red {
  background-image: linear-gradient(to bottom, #f44336, #d32f2f);
}
.button.big.red:hover {
  background-image: linear-gradient(to bottom, #d32f2f, #b71c1c);
}
.button.big.red:active {
  background-image: linear-gradient(to bottom, #b71c1c, #880e4f);
}

/* .button.big.disabled {
  display: none;
} */

/* .button.big .singleOption .section {
  width: 40px;
  height: 40px;
} */

.button.big .img {
  width: 30px;
  height: 30px;
  padding: 5px;
  filter: invert(1);
}

/* */

.hidden {
  display: none !important;
}