.canvas,
.dropTarget
{
  width: 100vw;
  height: 100vh;
}

.titleScreenApp .videoWrap {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 2s cubic-bezier(0, 1, 0, 1);
}
.mobileScreenApp .videoWrap {
  margin-top: 100px;
}

/* landscape */
@media screen and (orientation: landscape) {
  .titleScreenApp .videoWrap {
    margin-top: 30px;
  }
}

.titleScreenApp .videoWrap.startPressed {
  cursor: default;
  transition: margin-top 2s cubic-bezier(0, 1, 0, 1);
}
.titleScreenApp .videoWrap.startPressed .video {
  margin-top: -80px;
}
.titleScreenApp .videoWrap.startPressed .mobile {
  margin: 0;
  /* margin-top: 20px; */
  width: 70%;
}

/* for portrait mobile, height should be 50% of the screen */
@media screen and (orientation: portrait) {
  .mobileScreenApp .videoWrap .mobile {
    margin-bottom: 50px!important;
    width: 800px!important;
  }
}

/* for landscape mobile, height should be 50% of the screen */
@media screen and (orientation: landscape) {
  .mobileScreenApp .videoWrap.startPressed .mobile {
    height: 250px;
  }
}

.titleScreenApp .videoWrap .video {
  margin-top: 0;
}

.titleScreenApp .videoWrap .mobile {
  margin: 0;
  width: 90%;
  margin-top: 200px;
}
.titleScreenApp .videoWrap:not(.startPressed).active .video {
  transform: scale(0.9);
}
.titleScreenApp .videoWrap.entered {
  transform: scale(1.3);
  opacity: 0;
}

.titleScreenApp .versionWrap {
  position: fixed;
  bottom: 30px;
  left: 30px;
  background-color: #000;
  /* background-image: linear-gradient(to bottom, #333, #111); */
  /* padding: 10px; */
  opacity: 0.75;
}
.titleScreenApp .versionWrap .version {
  padding: 5px;
  font-family: 'Exo';
  font-size: 16px;
  color: #FFF;
  /* border: 2px solid #FFFFFF20; */
  border: 2px solid #FFFFFF40;
}

.titleScreenApp .videoWrap .video {
  width: 700px;
  object-fit: contain;
  transition: all 2s cubic-bezier(0, 1, 0, 1);
}
.titleScreenApp .videoWrap .mobile {
  margin-top: 0;
  width: 80%;
}

.titleScreenApp .videoWrap .spacer {
  margin: auto 0;
}

/* if the orientation is sideways */
@media screen and (orientation: landscape) {
  .titleScreenApp .videoWrap .mobile {
    margin-top: 200px;
  }
}

@keyframes glow {
  0% {
    filter: invert(0);
    transform: scale(1);
  }
  45% {
    filter: invert(1);
    transform: scale(1.1);
  }
  50% {
    filter: invert(1);
    transform: scale(1);
  }
  55% {
    filter: invert(1);
    transform: scale(1.1);
  }
  100% {
    filter: invert(0);
    transform: scale(1);
  }
}
.titleScreenApp .videoWrap .caption {
  position: relative;
  top: -70px;
  color: #FFF;
  font-family: 'Muli';
  font-size: 30px;
  animation: glow 1s infinite;
  transform-origin: center;
}

.titleScreenApp .footer {
  margin-top: auto;
  margin-bottom: 50px;
}
.titleScreenApp .footer .background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.titleScreenApp .videoWrap .caption.startPressed,
.titleScreenApp .videoWrap .footer.startPressed
{
  opacity: 0;
}

@keyframes fade {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
.titleScreenApp .footer .text {
  position: relative;
  margin: 0 auto;
  color: #FFF;
  font-size: 20px;
  font-family: 'Exo';
  opacity: 0.5;
  animation: float 5s infinite;
}
.titleScreenApp .footer .text b {
}

.titleScreenApp .slides {
  position: relative;
  display: flex;
  width: 600px;
  height: 200px;
  margin-top: 30px;
}
.titleScreenApp .slides:not(.startPressed) {
  display: none;
}
.titleScreenApp .slides .slide {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  background-image: linear-gradient(to bottom, #333, #111);
  color: #FFF;
  transition: all 2s cubic-bezier(0, 1, 0, 1);
  opacity: 0;
}
.titleScreenApp .slides .slide .wrap {
  display: flex;
  padding: 10px;
  border: 2px solid #FFFFFF40;
}
.titleScreenApp .slides .slide .wrap .img {
  width: 300px;
  height: 200px;
  object-fit: cover;;
}
.titleScreenApp .slides .slide .wrap .text {
  display: flex;
  padding: 0 10px;
  font-family: 'Muli';
  font-size: 16px;
}
.titleScreenApp .slides .slide .wrap .text .paragraph ul {
  margin: 0;
  padding: 0;
  padding-left: 30px;
}
.titleScreenApp .slides .slide.active {
  opacity: 1;
}
.titleScreenApp .slides .slide.left {
  transform: translateX(-100px);
}
.titleScreenApp .slides .slide.right {
  transform: translateX(100px);
}

/* */

.header {
  display: flex;
  position: fixed;
  top: 0;
  /* left: 0; */
  right: 0;
  padding: 10px;
  pointer-events: none;
  z-index: 2;
}

.header .buttons {
  display: flex;
  flex-direction: column;
  margin: 1.5em;
}
.header .buttons .button {
  position: relative;
  display: flex;
  padding: 5px 10px;
  margin-bottom: 1px;
  color: #FFF;
  cursor: pointer;
  user-select: none;
  transition: transform 2s cubic-bezier(0, 1, 0, 1);
  pointer-events: all;
}
.header .buttons .button .background
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to bottom, #333, #111);
  transform: skewX(-22deg);
}
.header .buttons .button .text {
  position: relative;
  font-family: 'Exo';
}
.header .buttons .button .background {
  border: 2px solid transparent;
}
.header .buttons .button .background {
  border-radius: 5px;
  transition: all 0.3s cubic-bezier(0, 1, 0, 1);
}
/* .header .buttons .button:hover .background {
  background-image: none;
  background-color: #2196F3;
  border-color: #FFFFFF40;
}
.header .buttons .button:active .background {
  background-color: #1976D2;
} */
.header .loginModal {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  /* width: 300px; */
  height: 100vh;
  padding: 30px;
  background-image: linear-gradient(to bottom, #222, #111111);
  pointer-events: all;
  cursor: default;
  overflow-y: auto;
}

.header .icons {
  margin-right: 15px;
}
.header .icons .icon {
  pointer-events: all;
}

/* */

.header .icons {
  display: flex;
  margin-left: auto;
}
.header .icons .icon:hover {
  opacity: 0.75;
}
.header .icons .icon:active {
  opacity: 0.5;
}
.header .icons .icon .image {
  width: 32px;
  height: 32px;
  transition: opacity 2s cubic-bezier(0, 1, 0, 1);
}
.header .icons .icon .image.invert {
  filter: invert(1);
}

/* */

.header .navs {
  display: flex;
  margin-right: auto;
  user-select: none;
}
.header .navs .nav {
  cursor: pointer;
}
.header .navs .nav:hover {
  opacity: 0.75;
}
.header .navs .nav:hover {
  opacity: 0.5;
}
.header .navs .nav .image {
  width: 32px;
  height: 32px;
}
