/* @font-face {
  font-family: 'Muli';
  src: url('/fonts/Muli.ttf');
}
@font-face {
  font-family: 'GeoSans';
  src: url('/fonts/GeosansLight.woff2') format('woff2');
}
@font-face {
  font-family: 'PlazaRegular';
  src:  url('/fonts/Plaza Regular.ttf');
}
@font-face {
  font-family: 'WinchesterCaps';
  src:  url('/fonts/WinchesterCaps.ttf');
}
@font-face {
  font-family: 'SF Movie Poster';
  src:  url('/fonts/SF Movie Poster.woff');
}
@font-face {
  font-family: 'SF Movie Poster Condensed';
  src:  url('/fonts/SF Movie Poster Condensed.woff');
}
@font-face {
  font-family: 'SF Movie Poster Bold';
  src:  url('/fonts/SF Movie Poster Bold.woff');
}
@font-face {
  font-family: 'SF Movie Poster Condensed Bold';
  src:  url('/fonts/SF Movie Poster Condensed Bold.woff');
}

@font-face {
  font-family: 'FuturaLT-Condensed';
  src:  url('/fonts/Futura LT Condensed Medium.ttf');
}
@font-face {
  font-family: 'GillSans-CondensedBold';
  src:  url('/fonts/gill-cb.ttf');
}
@font-face {
  font-family: 'FuturaStd-Heavy';
  src:  url('/fonts/Futura Std Heavy.ttf');
}
@font-face {
  font-family: 'PlazaITC-Normal';
  src:  url('/fonts/Plaza Regular.ttf');
}
@font-face {
  font-family: 'MS-Gothic';
  src:  url('/fonts/MS Gothic.ttf');
}
@font-face {
  font-family: 'GillSans';
  src:  url('/fonts/gill-sans.woff');
}
@font-face {
  font-family: 'GillSans-ExtraBoldDisplay';
  src:  url('/fonts/Gill Sans Extra Bold Display.ttf');
}
@font-face {
  font-family: 'FuturaLT-CondensedBold';
  src:  url('/fonts/Futura LT Condensed Bold.ttf');
}
@font-face {
  font-family: 'SanvitoPro-Regular';
  src:  url('/fonts/SanvitoPro-Regular.ttf');
}

@font-face {
  font-family: 'TTSC-Black-Italic';
  src:  url('/fonts/tt-squares/TT Squares Condensed Black Italic.otf');
}
@font-face {
  font-family: 'TTSC-Black';
  src:  url('/fonts/tt-squares/TT Squares Condensed Black.otf');
}
@font-face {
  font-family: 'TTSC-Bold-Italic';
  src:  url('/fonts/tt-squares/TT Squares Condensed Bold Italic.otf');
}
@font-face {
  font-family: 'TTSC-Bold';
  src:  url('/fonts/tt-squares/TT Squares Condensed Bold.otf');
}
@font-face {
  font-family: 'TTSC-Light-Italic';
  src:  url('/fonts/tt-squares/TT Squares Condensed Light Italic.otf');
}
@font-face {
  font-family: 'TTSC-Light';
  src:  url('/fonts/tt-squares/TT Squares Condensed Light.otf');
}
@font-face {
  font-family: 'TTSC-Regular-Italic';
  src:  url('/fonts/tt-squares/TT Squares Condensed Regular Italic.otf');
}
@font-face {
  font-family: 'TTSC-Regular';
  src:  url('/fonts/tt-squares/TT Squares Condensed Regular.otf');
}
@font-face {
  font-family: 'TTSC-Thin-Italic';
  src:  url('/fonts/tt-squares/TT Squares Condensed Thin italic.otf');
}
@font-face {
  font-family: 'TTSC-Thin';
  src:  url('/fonts/tt-squares/TT Squares Condensed Thin.otf');
}
@font-face {
  font-family: 'Anime Ace';
  src:  url('/fonts/animeace2_reg.ttf');
}
@font-face {
  font-family: 'Anime Ace';
  src:  url('/fonts/animeace2_bld.ttf');
}
@font-face {
  font-family: 'Manga Temple';
  src:  url('/fonts/mangat.ttf');
}
@font-face {
  font-family: 'Bangers';
  src:  url('/fonts/Bangers-Regular.woff2');
} */

/*  */

.titleScreenPlugin {
  --size: 600px;
  --padding: 30px;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

/*  */

.titleScreenPlugin .message {
  position: absolute;
  top: 0;
  left: 0;
}

/*  */

.titleScreenPlugin .message .wrap .name,
.titleScreenPlugin .message .wrap .description
{
  transform: translateX(0);
  transition: transform 0.5s cubic-bezier(0, 1, 0, 1);
}
.titleScreenPlugin .message:not(.open) .wrap .name,
.titleScreenPlugin .message:not(.open) .wrap .description
{
  transform: translateX(calc(-1 * var(--size)));
}

/*  */

.titleScreenPlugin .message .wrap .description {
  transition-delay: 0.2s;
}
.titleScreenPlugin .message:not(.open) .wrap .description {
  transition-delay: 0;
}

/*  */

.titleScreenPlugin .message .wrap {
  position: relative;
  left: -30px;
  display: flex;
  flex-direction: column;
  color: #FFF;
}

/*  */

.titleScreenPlugin .message .wrap .name {
  position: relative;
  width: max-content;
  max-width: var(--size);
  padding: var(--padding);
  padding-left: calc(var(--padding) * 2);
  margin: 10px 0;
  font-family: 'WinchesterCaps';
  font-size: 50px;
  letter-spacing: 1px;
}
.titleScreenPlugin .message .wrap .name:not(.visible) {
  display: none;
}
.titleScreenPlugin .message .wrap .name .text {
  position: relative;
}
.titleScreenPlugin .message .wrap .name .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  background-color: #111;
  transform: skew(-22deg);
}

/*  */

.titleScreenPlugin .message .wrap .description {
  position: relative;
  width: max-content;
  max-width: var(--size);
  padding: var(--padding);
  padding-left: calc(var(--padding) * 2);
  margin: 10px 0;
  font-family: 'SF Movie Poster';
  /* font-family: 'PlazaRegular'; */
  /* font-family: 'GeoSans'; */
  /* font-family: 'GillSans'; */
  font-size: 40px;
  letter-spacing: 3px;
  line-height: 0.8;
}
.titleScreenPlugin .message .wrap .description:not(.visible) {
  display: none;
}
.titleScreenPlugin .message .wrap .description .text {
  position: relative;
}
.titleScreenPlugin .message .wrap .description .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: #111;
  /* transform: skew(-22deg); */
}