.title {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Anime Ace';
}

.title .wrap {
  display: flex;
  flex-direction: column;
}

.title:not(.open) .wrap {
  transform: translateX(-100%);
  transition: transform 2s cubic-bezier(0, 1, 0, 1);
}

/* */

.title .wrap .name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 80px;
}

/* */

.title .wrap .description {
  display: flex;
  flex-direction: column;
  font-size: 30px;
}

.title .wrap .description .line {
  margin-bottom: 5px;
}